- var startDate = moment(booking.time_in).format("MMMM DD")
- var startTime = moment(booking.time_in).format("HH:mm")
- var endTime = moment(booking.time_out).format("HH:mm")
- var eol = "\n"

| Hi, #{eol}
| Your Booking on #{startDate} from #{startTime} to #{endTime} was upated.#{eol}
